.hero{
    width: 100vw;
    height: 70vh;
    background-color: rgb(69, 189, 230);
}


img{
    width: 100%;
    height: auto;
}


.hero-text{
    position:absolute;
    top: 30%;
    left: 15%;
width: 70%;
}

.hero-text h1{
    font-size: 3rem;
    font-weight: 800;
    color: #fff;
    line-height: 1.4; 
}

.hero-text p{
    padding-top: 0.3rem;
    color: #fff;
}

@media screen and (max-width:850px){
    .hero{
        width: 100vw;
        height: 50vh;
        background-color: rgb(69, 189, 230);
    }
    
    .hero-text h1{
        font-size: 2rem;
    }
    .hero-text p{
        font-size: 0.8rem;
    }

    .hero-text{
        position:absolute;
        top: 25%;
        left: 15%;
        width: 100%;
    }
    

}