.img {
    background: url('../../storage/app/public/assets/plane_vec.png') no-repeat;
    background-size: 40%;
    background-position: 70% center;
    position: absolute;
    top: -7%;
    height: 100%;
    width: 100%;
    z-index: 0;
}

@media screen and (max-width:850px){
    .img{
        background-size: 35%;
        top: 25%;
        left: 55%;
    }

}